<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SaraFullSheet_88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,48}</string>
                <key>spriteSourceSize</key>
                <string>{29,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{29,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{1,201},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{1,397},{29,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{1,250},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,48}</string>
                <key>spriteSourceSize</key>
                <string>{29,48}</string>
                <key>textureRect</key>
                <string>{{1,51},{29,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{1,299},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{1,348},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,48}</string>
                <key>spriteSourceSize</key>
                <string>{29,48}</string>
                <key>textureRect</key>
                <string>{{1,101},{29,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,48}</string>
                <key>spriteSourceSize</key>
                <string>{29,48}</string>
                <key>textureRect</key>
                <string>{{1,151},{29,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SaraWalkingRight.png</string>
            <key>size</key>
            <string>{31,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d38a1e951a8212becf6069b0872c977f:fbb5d024866a98e118edf49a785ea968:629449e0d05d9117f257942304ee2c06$</string>
            <key>textureFileName</key>
            <string>SaraWalkingRight.png</string>
        </dict>
    </dict>
</plist>
