<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SaraFullSheet_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{1,315},{29,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{1,366},{29,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,50}</string>
                <key>spriteSourceSize</key>
                <string>{29,50}</string>
                <key>textureRect</key>
                <string>{{1,107},{29,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,51}</string>
                <key>spriteSourceSize</key>
                <string>{29,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{29,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,50}</string>
                <key>spriteSourceSize</key>
                <string>{29,50}</string>
                <key>textureRect</key>
                <string>{{1,159},{29,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{1,417},{29,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,50}</string>
                <key>spriteSourceSize</key>
                <string>{29,50}</string>
                <key>textureRect</key>
                <string>{{1,211},{29,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,51}</string>
                <key>spriteSourceSize</key>
                <string>{29,51}</string>
                <key>textureRect</key>
                <string>{{1,54},{29,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaraFullSheet_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,50}</string>
                <key>spriteSourceSize</key>
                <string>{29,50}</string>
                <key>textureRect</key>
                <string>{{1,263},{29,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SaraWalkingUp.png</string>
            <key>size</key>
            <string>{31,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50baaf9107b232147642db87e12a8ca9:a36c0442044c4c7c8358adfa83a710d3:41010b0b9c67fa9fae39dc692f709e62$</string>
            <key>textureFileName</key>
            <string>SaraWalkingUp.png</string>
        </dict>
    </dict>
</plist>
