<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SaraArriba_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,151},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,49}}</string>
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>

			<key>SaraArriba_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,0},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,49}}</string>
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>

			<key>SaraArriba_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,50},{29,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,50}}</string>
				<key>sourceSize</key>
				<string>{29,50}</string>
			</dict>

			<key>SaraArriba_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,51}}</string>
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>

			<key>SaraArriba_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,192},{29,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,50}}</string>
				<key>sourceSize</key>
				<string>{29,50}</string>
			</dict>

			<key>SaraArriba_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,52},{29,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,49}}</string>
				<key>sourceSize</key>
				<string>{29,49}</string>
			</dict>

			<key>SaraArriba_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,103},{29,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,50}}</string>
				<key>sourceSize</key>
				<string>{29,50}</string>
			</dict>

			<key>SaraArriba_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{29,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,51}}</string>
				<key>sourceSize</key>
				<string>{29,51}</string>
			</dict>

			<key>SaraArriba_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,52},{29,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,50}}</string>
				<key>sourceSize</key>
				<string>{29,50}</string>
			</dict>

			<key>SaraIzquierda_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,194},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

			<key>SaraIzquierda_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,146},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>

			<key>SaraIzquierda_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,197},{29,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,46}}</string>
				<key>sourceSize</key>
				<string>{29,46}</string>
			</dict>

			<key>SaraIzquierda_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,98},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>

			<key>SaraIzquierda_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,102},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

			<key>SaraIzquierda_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,149},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>

			<key>SaraIzquierda_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,101},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>

			<key>SaraIzquierda_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,49},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

			<key>SaraIzquierda_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

			<key>SaraAbajo_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,103},{28,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,50}}</string>
				<key>sourceSize</key>
				<string>{28,50}</string>
			</dict>

			<key>SaraAbajo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,154},{28,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,50}}</string>
				<key>sourceSize</key>
				<string>{28,50}</string>
			</dict>

			<key>SaraAbajo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{27,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,51}}</string>
				<key>sourceSize</key>
				<string>{27,51}</string>
			</dict>

			<key>SaraAbajo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,52},{26,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,50}}</string>
				<key>sourceSize</key>
				<string>{26,50}</string>
			</dict>

			<key>SaraAbajo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{28,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,51}}</string>
				<key>sourceSize</key>
				<string>{28,51}</string>
			</dict>

			<key>SaraAbajo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,52},{28,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,50}}</string>
				<key>sourceSize</key>
				<string>{28,50}</string>
			</dict>

			<key>SaraAbajo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,154},{27,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,51}}</string>
				<key>sourceSize</key>
				<string>{27,51}</string>
			</dict>

			<key>SaraAbajo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,103},{25,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,50}}</string>
				<key>sourceSize</key>
				<string>{25,50}</string>
			</dict>

			<key>SaraAbajo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,154},{28,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,51}}</string>
				<key>sourceSize</key>
				<string>{28,51}</string>
			</dict>

			<key>SaraDerecha_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,143},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

			<key>SaraDerecha_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,95},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>

			<key>SaraDerecha_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,48},{29,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,46}}</string>
				<key>sourceSize</key>
				<string>{29,46}</string>
			</dict>

			<key>SaraDerecha_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,0},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>

			<key>SaraDerecha_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

			<key>SaraDerecha_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,146},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>

			<key>SaraDerecha_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>

			<key>SaraDerecha_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,49},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

			<key>SaraDerecha_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,48}}</string>
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{237,244}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>