<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>001.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,903},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>002.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{903,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>003.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{903,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>004.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{903,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>005.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{903,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>006.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{903,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>007.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>008.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,1032},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>009.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,903},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>010.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>011.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>012.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>013.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>014.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>015.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>016.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{774,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>017.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,1032},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>018.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,903},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>019.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>020.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>021.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>022.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>023.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>024.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>025.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{645,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>026.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,1032},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>027.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,903},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>028.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>029.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>030.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>031.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>033.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>034.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>035.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{516,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>036.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,1032},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>037.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{903,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>038.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>039.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>040.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>041.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>042.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>043.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>044.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{387,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>045.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,1032},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>046.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,903},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>047.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>048.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>049.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>050.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>051.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>052.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>053.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>054.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,1032},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>055.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,903},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>056.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>057.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>058.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>059.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>060.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>061.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>062.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{129,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>063.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,1032},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>064.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>065.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>066.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>067.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>068.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>069.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>070.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>071.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1032,1161}</string>
			<key>textureFileName</key>
			<string>ultima.png</string>
			</dict>
		</dict>
</plist>